* {
    font-family: 'Courier New', Courier, monospace ;
    color: white;
}

h2, p, figcaption, h3 {
    text-align: center;
}

.NavBar {
    text-align: center;
}

.NavBar li {
    display: inline-flex;
    border: solid 1px white;
    background-color: black;
    padding: 10px;
    text-align: center;
}


a:link, a:visited, a:active {
    text-decoration: none;
}

.NavBar a:hover {
    text-decoration: none;
    background: firebrick;
}
 
body {
    background-image: url(https://images.wallpapersden.com/image/download/cool-4k-pattern_bGduZWyUmZqaraWkpJRobWllrWdma2U.jpg);
    background-size: 100% 100%;
    background-attachment: fixed;
}

#introduction {
    border: solid 3px white;
    border-radius: 5px;;
    position: relative;
    top: 10px;
    background-color: black;
}

.button {
    border: 1px solid white;
    border-radius: 5px;
    padding: 10px 10px;
    text-align: center;
    text-decoration: none;
    display: inline;
    font-size: 16px;
    margin: 5px;
}

#titleimage {
    border: solid 3px white;
    border-radius: 5px;
    padding: 10px;
    margin-top: 10px;
    text-align: center;
}

 #titleimage h2, h3 {
    background-color: black;
    border: solid 2px white;
    border-radius: 3px;
    padding: 5px 10px;
    text-decoration: none;
    margin: 10px auto;
    width: 30%;
}


.caption {
    background-color: rgb(75, 74, 74);
    border: solid 1px white;
    border-radius: 3px;
    padding: 5px 10px;
    text-decoration: none;
    margin: 5px auto;
    width: 50%;
    font-size: 10px;
}


img {
    border: solid 1px white;
    border-radius: 5px;
}

#portfolio {
    text-align: center;
    margin: 10px auto;
}

#portfolio figure {
    list-style-type: none;
    display: inline-block;
    text-decoration: none;
}

#portfolio img {
    height: 150px;
    width: 150px;
    border-radius: 50%;
    margin-left: 7%;
    margin-right: 7%;
}

#portfolio figcaption:hover {
    opacity: 1;
}

#introduction p {
    text-align: justify;
    padding: 10px 20px;
}

#linkgallery {
    border: solid 3px white;
    border-radius: 5px;;
    position: relative;
    top: 20px;
    background-color: black;
    padding: 10px;
}

.fa {
    padding: 20px;
    font-size: 30px;
    width: 100px;
    height: 100px;
    text-align: center;
    text-decoration: none;
    border-radius: 50%;
    margin-top: 50%;
}

.fa:hover {
    opacity: 0.7;
}

.fa-twitter {
    background: #00acee;
    color: white;
}

.fa-linkedin {
    background: #0077b5;
    color: white;
}

.fa-instagram {
    background-image: linear-gradient(to bottom right, #feda75, #fa7e1e, #d62976, #962fbf, #4f5bd5);
    color: white;

}

.fa-github {
    background: #171515;
    color: white;
}

#socials {
    border: solid 3px white;
    border-radius: 5px;;
    position: relative;
    top: 10px;
    background-color: black;
    margin: 20px auto;
    text-align: center;

}

#socials li {
    list-style-type: none;
    display: inline-block;
    text-decoration: none;
    text-align: center;
    margin-left: 50px;
    margin-right: 50px;
    margin-bottom: 50px;
}
